# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab1_leonov/.vs/lab1_leonov/FileContentIndex/739c6e82-2aad-4eb3-84b8-eac5869a28ee.vsidx
lab1_leonov/.vs/lab1_leonov/FileContentIndex/de7bef20-e7b8-4cf6-8bc9-eaab2ce2b727.vsidx
lab1_leonov/.vs/lab1_leonov/FileContentIndex/1c22a64b-2e8b-4ddb-8c0e-790fa93db689.vsidx
*.vsidx
